<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- basics -->
        <meta charset="utf-8">
        <title>{{template "title" .}}</title>
        <meta name="description" content="{{template "description" .}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- css -->
        <link rel="stylesheet" href="/static/css/skeleton.css">
        <link rel="stylesheet" href="/static/css/listudy.css">
        {{template "css" .}}

        <!-- js -->
        {{template "js" .}}
        
        <!-- favicon -->
        <link rel="icon" type="image/png" href="/static/favicon.png">
    </head>
    <body>
        <div class="container">
            <a href="/">Home</a>
            {{ if .loggedin }}
                <a href="/create-study">Create a Study</a>
                <a href="/user/{{.name}}">Profile</a>
                <a href="/logout">Logout</a>
            {{ else }}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {{ end }}
        </div>
        <div class="container">
            {{template "content" . }}
        </div>
        {{template "afterBodyJS" .}}
    </body>
</html>
