{{ define "title"}}
This is the homepage
{{end}}

{{define "description"}}
this is a description
{{end}}

{{define "js"}}{{end}}
{{define "css"}}{{end}}
{{define "afterBodyJS"}}{{end}}

{{define "content"}}
<h1>Listudy - Spaced Repetition for Chess</h1>
<h2>Popular Studies</h2>
{{range $index, $value := .studies}}
<p>Votes: {{index $.counts $index}}; <a href="{{$.root_url}}study/{{$value}}">{{index $.titles $index}}</a> by <a href="{{$.root_url}}user/{{index $.names $index}}">{{index $.names $index}}</a></p>
{{end}}
{{end}}
