{{ define "title"}}
How Studying on Listudy works
{{end}}

{{define "description"}}
How Studying on Listudy works
{{end}}

{{define "js"}}{{end}}
{{define "css"}}{{end}}
{{define "afterBodyJS"}}{{end}}

{{define "content"}}
<h1>How Studying on Listudy Works</h1>
<p>Listudy uses the <a href="https://en.wikipedia.org/wiki/Leitner_system">Leitner system</a> for managing "cards". Each move in a study represents a card. When you make the right move in a possition the card is moved up in the boxes. When you make a move that is not in the study the card is put back in the first box. Cards from lower boxes are choosen first when picking a card to repeat.</p>
<img src="/static/images/leitner-system.png">
{{end}}
