{{ define "title"}}
This is the homepage
{{end}}

{{define "description"}}
this is a description
{{end}}

{{define "js"}}
    <script>
        var pgn = {{.pgn}};
        var orientation = "{{.orientation}}";
        var progress = "{{.progress}}";
    </script>
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/chessground.css">
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/3d.css">
{{end}}
{{define "afterBodyJS"}}
    <script type="application/javascript" src="/static/js/study.js"></script>
{{end}}

{{define "content"}}
<h1>{{.study_title}}</h1>
<section class="blue merida">
    <div id="chessboard" class="chessboard manipulable cg-board-wrap"></div>
    <div class="commentary">
        <div id="commentary1">hi1</div>
        <div id="commentary2">hi2</div>
    </div>
</section>
<br>
<select id="game_number" onchange="initialize(this.value)">
    <option value="1">1</option>
</select>
<br>
{{ if .loggedin }}
    <button type="button" onclick="submitProgress('{{.study_id}}')">Submit Progress</button>
{{ else }}
    <button type="button" onclick="window.location.href='/login'">Login to save Progress</button>
{{ end }}
{{ if not .voted }}
    <button type="button" onclick="favorite('{{.study_id}}')" id="favoriteButton">Favorite this study</button>
{{ end }}

<p>by: {{.creator}}</p>
{{end}}
