{{ define "title"}}
Tutorial
{{end}}

{{define "study_js"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour-standalone.min.js" integrity="sha256-yZ5Y4SeiEUW/lrhz/QzWM4p0jP+MAkn4alhMqkWf1gM=" crossorigin="anonymous"></script>

<script>
    orientation = "white";
    pgn = "[Event \"variation3: Chapter 1\"]\n[Site \"https://lichess.org/study/hyZUEiLt\"]\n[Result \"*\"]\n[UTCDate \"2019.04.13\"]\n[UTCTime \"14:01:22\"]\n[Variant \"Standard\"]\n[ECO \"A00\"]\n[Opening \"Anderssen Opening\"]\n[Annotator \"https://lichess.org/@/BillCollector\"]\n\n1. a3 (1. h3 h6 (1... a6 2. h4 a5) 2. h4 h5) 1... a6 { [%csl Ge4,Gd5][%cal Gh4a4,Ga5h5] } 2. a4 { \u0026lt;script\u0026gt;alert(1)\u0026lt;/script\u0026gt; } 2... a5 { [%csl Gd4,Ge5] } 3. c3 *";


</script>
{{end}}

{{define "study_css"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour-standalone.min.css" integrity="sha256-yJqkHOkIIiTU+f0e6wBGDyl7UM6A4RUj1acXmGYJQqo=" crossorigin="anonymous" />
{{end}}

{{define "study_after_js"}}
    <script>
    // Instance the tour
    var tour = new Tour({
          storage: false,
          steps: [
          {
            element: "#chessboard",
            title: "Chessboard",
            content: "Repeat the moves that are shown, memorizing them, repeating them without help."
          },
          {
            element: "#game_number",
            title: "Game selector",
            content: "Many studies have more than one game in the study. You can select the one to train here."
          },
          {
            element: "#study_stats",
            title: "Statistics",
            content: "Here the progress of your training is shown."
          },
          {
            element: "#submitProgress",
            title: "Save Progress",
            content: "Here you can save your progres to store it between training sessions."
          },
          {
            element: "#training_mode",
            title: "Training Mode",
            content: "Select a training mode. Lines training mode is best suited for the early stages in training a study. It will pick a line for you to follow and train it until you're confident in that line. Random training mode will train your least known moves. Random mode can be \"jumpy\"."
          }
    ]});

    // Initialize the tour
    tour.init();

    // Start the tour
    tour.start();
    </script>
{{end}}
