{{ define "title"}}
Tutorial
{{end}}

{{define "study_js"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour-standalone.min.js" integrity="sha256-yZ5Y4SeiEUW/lrhz/QzWM4p0jP+MAkn4alhMqkWf1gM=" crossorigin="anonymous"></script>

<script>
        pgn = "[Event \"Listudy Tutorial: Scholar's mate\"]\n[Site \"https://lichess.org/study/fhf4rBhq\"]\n[Result \"*\"]\n[UTCDate \"2019.05.18\"]\n[UTCTime \"20:24:09\"]\n[Variant \"Standard\"]\n[ECO \"C23\"]\n[Opening \"Bishop's Opening\"]\n[Annotator \"https://lichess.org/@/ArneVogel\"]\n\n1. e4 e5 2. Bc4 Nc6 (2... d6 3. Qh5 Nf6 4. Qxf7#) 3. Qf3 Bb4 4. Qxf7# *\n\n\n[Event \"Listudy Tutorial: Boring\"]\n[Site \"https://lichess.org/study/fhf4rBhq\"]\n[Result \"*\"]\n[UTCDate \"2019.05.18\"]\n[UTCTime \"20:28:50\"]\n[Variant \"Standard\"]\n[ECO \"C44\"]\n[Opening \"King's Knight Opening: Normal Variation\"]\n[Annotator \"https://lichess.org/@/ArneVogel\"]\n\n1. e4 e5 2. Nf3 Nc6 *";
        orientation = "white";
</script>
{{end}}

{{define "study_css"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour-standalone.min.css" integrity="sha256-yJqkHOkIIiTU+f0e6wBGDyl7UM6A4RUj1acXmGYJQqo=" crossorigin="anonymous" />
{{end}}

{{define "study_after_js"}}
    <script>
    // Instance the tour
    var tour = new Tour({
          storage: false,
          steps: [
          {
            element: "#chessboard",
            title: "Chessboard",
            content: "Repeat the moves that are shown, memorizing them, repeating them without help."
          },
          {
            element: "#game_number",
            title: "Game selector",
            content: "Many studies have more than one game in the study. You can select the one to train here."
          },
          {
            element: "#study_stats",
            title: "Statistics",
            content: "Here the progress of your training is shown."
          },
          {
            element: "#submitProgress",
            title: "Save Progress",
            content: "Here you can save your progres to store it between training sessions."
          },
          {
            element: "#training_mode",
            title: "Training Mode",
            content: "Select a training mode. Lines training mode is best suited for the early stages in training a study. It will pick a line for you to follow and train it until you're confident in that line. Random training mode will train your least known moves. Random mode can be \"jumpy\"."
          }
    ]});

    // Initialize the tour
    tour.init();

    // Start the tour
    tour.start();
    </script>
{{end}}
