{{ define "title"}}
Study {{.study_title}} - Listudy
{{end}}

{{define "description"}}
Study {{.study_title}} online for free.
{{end}}

{{define "js"}}
    <script>
        var pgn = {{.pgn}};
        var orientation = "{{.orientation}}";
        var progress = "{{.progress}}";
    </script>
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/chessground.css">
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/3d.css">
{{end}}
{{define "afterBodyJS"}}
    <script type="application/javascript" src="/static/js/study.js"></script>
{{end}}

{{define "content"}}
<h1>{{.study_title}}</h1>
<section class="blue merida">
    <div id="chessboard" class="chessboard manipulable cg-board-wrap"></div>
    <div class="commentary">
        <div id="info">Your study cannot be loaded properly, please let me know with a link to the study.</div>
        <div id="commentary1"></div>
        <div id="commentary2"></div>
    </div>
</section>
<br>
<label for="game_numer">Select Game</label>
<select id="game_number" onchange="initialize(this.value)">
    <option value="1">1</option>
</select>
<br>
<div class="study_stats">
 <table>
  <tr>
    <th>Box</th>
    <th># Cards</th>
  </tr>
  <tr>
    <td>1</td>
    <td><span id="box1"></span></td>
  </tr>
  <tr>
    <td>2</td>
    <td><span id="box2"></span></td>
  </tr>
  <tr>
    <td>3</td>
    <td><span id="box3"></span></td>
  </tr>
  <tr>
    <td>4</td>
    <td><span id="box4"></span></td>
  </tr>
  <tr>
    <td>5</td>
    <td><span id="box5"></span></td>
  </tr>

</table> 
<p>Study progress: <span id="progress">0</span>%</p>
</div>
{{ if .loggedin }}
    <button type="button" onclick="submitProgress('{{.study_id}}')">Submit Progress</button>
{{ else }}
    <button type="button" onclick="window.location.href='/login'">Login to save Progress</button>
{{ end }}
{{ if and .loggedin (not .voted) }}
    <button type="button" onclick="favorite('{{.study_id}}')" id="favoriteButton">Favorite this study</button>
{{ end }}
    <button type="button" onclick="toggleHelp()" id="help">Disable help</button>
    <label for="training_mode">Training Mode</label>
    <select id="training_mode" onchange="changeTrainingMode()">
        <option value="lines" selected>Lines</option>
        <option value="random">Random</option>
    </select>

<p>This study was created by: <a href="/user/{{.creator}}">{{.creator}}</a></p>
<p class="study_description">{{.description}}</p>
<p>Download the PGN: <a href="/static/pgn/{{.study_id}}.pgn">{{.study_id}}.pgn</a></p>
<p>CC BY-SA</p>
{{end}}
