{{ define "title"}}
Thanks for Registering
{{end}}

{{define "description"}}
Thanks for Registering
{{end}}

{{define "js"}}{{end}}
{{define "css"}}{{end}}
{{define "afterBodyJS"}}{{end}}

{{define "content"}}
<h1>Thanks for Registering</h1>
<p>Now that you are registered you can create your own studies, save your study progress, and favorite studies to show your appreciation for them and to find them again in your profile.</p>
<h2>What to do next</h2>
<ul>
    <li><a href="/create-study">Create your own study</a></li>
    <li><a href="/studies">Search for studies from other users</a></li>
    <li>Give feedback either on <a href="https://github.com/ArneVogel/listudy/issues" target="_blank">github</a> or on <a href="https://lichess.org/forum/general-chess-discussion/beta-release-of-listudy" target="_blank">lichess</a></li>
</ul>
{{end}}
