{{ define "title"}}
Terms of Service
{{end}}

{{define "description"}}
Terms of Service
{{end}}

{{define "js"}}{{end}}
{{define "css"}}{{end}}
{{define "afterBodyJS"}}{{end}}

{{define "content"}}
<h1>Terms of Service</h1>
<h2 id="publishing_studies">Publishing Studies</h2>
<p>Only upload and publish studies that you have the rights to.</p>
<p>When publishing studies on listudy you agree to license your work to the public for reuse under a creative commons license <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA</a>. This includes the PGN, the title and the description you provide.</p>
{{end}}
