{{ define "title"}}
{{.userProfile}} Profile
{{end}}

{{define "description"}}
{{.userProfile}} profile.
{{end}}

{{define "js"}}{{end}}
{{define "css"}}{{end}}
{{define "afterBodyJS"}}{{end}}

{{define "content"}}
<h1>{{.userProfile}}</h1>
{{ if .study_ids }}
<h2>Studies created by {{.userProfile}}</h2>
{{/* cannot use .delete_option inside the range*/}}
{{ $delete_option := .delete_option}}
{{range $index, $value := .study_ids}}
<a href="{{$.root_url}}study/{{$value}}">{{index $.study_titles $index}}</a>
{{ if $delete_option }}
<form method="POST" action="/delete-study/{{$value}}" style="display: inline-block; margin-left:20px;" onsubmit="return confirm('Do you really want to DELETE the study: {{index $.study_titles $index}}?');">
    <input type="submit" value="Delete">
</form>
{{end}}
<br>
{{end}}
{{end}}
{{ if not .study_ids }}
<h2>{{.userProfile}} has not created any studies :(</h2>
{{end}}

<h2>Studies favorited by {{.userProfile}}</h2>
{{range $index, $value := .favorites_ids}}
<a href="{{$.root_url}}study/{{$value}}">{{index $.favorites_titles $index}}</a> by <a href="{{$.root_url}}user/{{index $.favorites_creator $index}}">{{index $.favorites_creator $index}}</a><br>
{{end}}


{{end}}
