.commentary {
    margin-left: 2em;
    vertical-align: top;
    display: inline-block;
    max-width:300px;
}

#chessboard {
    display: inline-block;
}

.study_description {
    white-space: pre-line;
}

.navbar a {
    padding-left: 10px;
}
.navbar a:first-child {
    padding-left: 0px;
}

.study_stats td {
    padding: 0px;
}

.warn_icon {
    content: url("/static/images/warn.svg");
}

.error_icon {
    content: url("/static/images/error.svg");
}

.success_icon {
    content: url("/static/images/success.svg");
}

.info_icon {
    content: url("/static/images/info.svg");
}

.warn_icon,
.error_icon,
.success_icon,
.info_icon {
    width: 0.8em;
    padding-right: 0.4em;
}

.warn_wrapper {
    color: #9F6000;
    background-color: #FEEFB3;
}

.error_wrapper {
    color: #D8000C;
    background-color: #FFBABA;
}

.success_wrapper {
    color: #270;
    background-color: #DFF2BF;
}

.info_wrapper {
    color: #059;
    background-color: #BEF;
}

.message_wrapper {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.light-scheme {
    background: white none repeat scroll 0% 0%;
    color: rgb(34, 34, 34);
}
.dark-scheme {
    background: rgb(24, 24, 24) none repeat scroll 0% 0%;
    color: rgb(146, 146, 146);
}
.dark-scheme select {
    background: rgb(24, 24, 24) none repeat scroll 0% 0%;
    color: rgb(146, 146, 146);
}
.light-scheme select {
    background: white none repeat scroll 0% 0%;
    color: rgb(34, 34, 34);
}

