.commentary {
    margin-left: 2em;
    vertical-align: top;
    display: inline-block;
    max-width:300px;
}

#chessboard {
    display: inline-block;
}

.study_description {
    white-space: pre-line;
}

.navbar a {
    padding-left: 10px;
}
.navbar a:first-child {
    padding-left: 0px;
}

.study_stats td {
    padding: 0px;
}
